<div>
    <ul>
        <%= form_for @song do |f| %>
            <%= f.label :title %>
            <%= f.text_area_tag :title, @song.title %>

            <%= f.label :released %>
            <%= f.text_area_tag :released, @song.released %>

            <%= f.label :release_year %>
            <%= f.text_area_tag :release_year, @song.release_year %>

            <%= f.label :artist_name %>
            <%= f.text_area_tag :artist_name, @song.artist_name %>

            <%= f.label :genre %>
            <%= f.text_area_tag :genre, @song.genre %>

            <%= f.submit %>
        <% end %>
    </ul>
</div>
