<div>
    <ul>
        <%= form_for @song do |f| %>
            <%= f.label :title %>
            <%= f.text_area :title %>
            <br>
            <%= f.label :released %>
            <%= f.text_area :released %>
            <br>
            <%= f.label :release_year %>
            <%= f.text_area :release_year %>
            <br>
            <%= f.label :artist_name %>
            <%= f.text_area :artist_name %>
            <br>
            <%= f.label :genre %>
            <%= f.text_area :genre %>

            <%= f.submit %>
        <% end %>
    </ul>
</div>
